{% extends 'base.html' %}
{%block form%}

  <form id="user-form" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Execute" class="btn btn-primary">
      <a href="{%url 'word-counter:form' %}"><button type="button" class="btn btn-danger">Clean</button></a>
  </form>


  <h2 class="error">{{exception}}</h2>
  {%for word, tweets in word_tweets.items %}
    <h5><b>{{word.0}}, {{word.1}} % </b></h5>
    {% for tweet in tweets %}
      <p>{{tweet}}</p>
    {% endfor %}
  {% endfor %}

{%endblock%}
